.App {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  background-color: rgb(224 224 224 / 80%);
}

/* NavBar */
.navbar {
  background-color: rgb(99 109 205);
  height: 5rem;

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;

  flex-grow: 0; /* default 0 */
}
.font1 {
  font-size: 2rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

/* Lists */
.datalist-container {
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.row-item {
  /* margin: 1px !important; */
  cursor: pointer;
}
